body {
  font-family: "Roboto";
  letter-spacing: 0.03em;
  color: $primary-text-color;
  overflow-x: hidden;
}
a:not(.form-field-policy__link) {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
h1 {
  margin: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section-sizing {
  padding-bottom: 94px;
}
.container {
  margin: 0 auto;
  display: flow-root;
  padding: 0 15px;
  overflow: hidden;
  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 320px;
    padding: 0;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.main-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hidden-title {
  visibility: hidden;
}
