footer {
  background: $primary-background-color;
}
footer a {
  display: inline-block;
  transition-property: border, fill;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
}
footer a:not(.logo):hover,
footer a:not(.logo):focus {
  color: $logo-and-btn-color;
}
.footer-section {
  padding: 60px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 60px 89px 60px 76px;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-section__item {
  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  &:last-child {
    @media screen and (max-width: 1200px) {
      margin-bottom: 10px;
    }
  }
}
.footer-section--logo-white {
  color: $primary-color;
  margin-bottom: 20px;
}
.footer-section__logo-blue {
  color: $logo-and-btn-color;
}
.footer-section__contact-info {
  line-height: 1.7;
  font-size: $secondary-font-size;
  font-weight: $secondary-font-weight;
  margin-bottom: 0;
  margin-top: 0;
  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-section__contact-info li:not(:last-child) {
  margin-bottom: 9px;
}
.footer-section__contact-info--grey-color {
  color: rgba(255, 255, 255, 0.6);
}
.footer-section__contact-info--white-color {
  color: $primary-color;
}

.subscribe-form {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}
.subscribe-form__label {
  @media screen and (max-width: 1200px) {
    margin: 20px 120px;
  }
}
