.our-team-section {
  padding-top: 94px;
  font-size: $primary-font-size;
  background: $secondary-background-color;
}
.our-team-section__team {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.team-member-card {
  background: $primary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  width: 330px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin: 0 15px;
  }
}
.team-member-card__subtitle {
  font-weight: $tertiary-font-weight;
  font-size: $primary-font-size;
  line-height: 1.9;
  text-align: center;
}
.team-member-card__description {
  line-height: 1.4;
  text-align: center;
  color: $secondary-text-color;
}
.team-member-card__info {
  padding-bottom: 30px;
  width: 330px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.team-member__pic {
  align-items: center;
  width: 330px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.team-member-card__social-links {
  @media screen and (max-width: 767px) {
    padding: 0 122px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0 88px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 32px;
  }
}
