.section-hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: $logo-and-btn-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-mobile.jpg");
  background-size: cover;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-mobile@2x.jpg");
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-tablet.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-tablet@2x.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-desktop.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-desktop@2x.jpg");
    }
  }
}

.section-hero__main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-color;

  padding-top: 200px;
  padding-left: 252px;
  padding-right: 252px;

  @media screen and (max-width: 479px) {
    font-size: 26px;
    line-height: 1.65;
    padding-top: 118px;
    padding-left: 5px;
    padding-right: 5px;
  }
  @media (min-width: 480px) {
    font-size: 26px;
    line-height: 1.65;
    padding-top: 118px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    font-size: 26px;
    line-height: 1.65;
    padding-top: 118px;
    padding-left: 180px;
    padding-right: 180px;
  }
  @media (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
    padding-top: 200px;
    padding-left: 252px;
    padding-right: 252px;
  }
}
.section-hero__order-btn {
  @media screen and (max-width: 479px) {
    margin: 30px 20% 118px 20%;
  }
  @media (min-width: 480px) {
    margin: 30px 120px 118px 120px;
  }
  @media (min-width: 768px) {
    margin: 30px 270px 118px 270px;
  }
  @media (min-width: 1200px) {
    margin: 30px 480px 200px 480px;
  }
}
